certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
decorator==5.2.1
future==1.0.0
geocoder==1.38.1
idna==3.10
pillow==11.2.1
psutil==7.0.0
pywin32==310
ratelim==0.1.6
reportlab==4.4.1
requests==2.32.3
screeninfo==0.8.1
six==1.17.0
urllib3==2.4.0
WMI==1.5.1
